<% if order["id"] %>
<%#byebug%>
<tr>
	<td> <%= order["id"] %></td>
	<td> <%=order["name"] %> </td>
	<td><%= order["quantity"]%> </td>
	<td><%= DateTime.parse(order["time_stamp"]).strftime("%I:%M %P") %> </td>
	<td>
		<% if order["substitute"] == nil%>
			<% search = "%#{order['id']}%" %>
			<% item = ItemsUser.where('substitute::text LIKE :substitute', :substitute => search) %>
			<% if  item[0] != nil%>
				<% details = Item.find(item[0].item_id)%>
				<%= details.name%>
			<% end %>
		<% else %>
			<% slist = order["substitute"].split(',') %>
			<% slist.each do |list|%>
				<% search = "%#{list}%" %>
				<% item = ItemsUser.where('id::text LIKE :id', :id => search) %> 
				<% if  item[0] != nil%>
					<% details = Item.find(item[0].item_id)%>
					<%= details.name%>,
				<% end %>
			<% end %>
		<% end %>	
	</td>
	<td style="display:inline;">
		<% if order["processed"] == nil%>
			<%= link_to("Delete", {action: 'delete_order', id: order["id"]}, :class => "btn btn-danger btn-xs") %>
		<% else %>
			<p style="color:green;">Processed</p>
		<% end %>
		
	</td>
</tr>
<% end %>