
<tr>
	<td> <%= t.balance %> </td>
	<td> 
		<% if t.action == 'add'%>
			<span class="label label-success"><%= t.action %></span>
		<%else%>
			<span class="label label-danger"><%= t.action %></span>
		<%end%>
	</td>
	<td> <%= t.amount %> </td>
	<td> 
		<% if t.action == 'add'%>
			<%= t.balance+t.amount %>
		<%else%>
			<%= t.balance-t.amount %>
		<%end%>
	</td>
	<td><%= t.description %> </td>
	<td> <%= DateTime.parse(t.time_stamp).strftime("%d %b %y, %I:%M %P") %> </td>
</tr>