<% if !current_user.blank? && current_user.role == 'admin'%>
  <script type="text/javascript">
    document.getElementById('logout').click();
  </script>
<% end %>

<style type="text/css">
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 300px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 25%;
    float: left;
}
</style>


<div>
	<h3 class="text-center">Lunch Order History
	</h3>
	<p class="text-center">
		<span  class="label label-default"><%= pluralize( @data.count , "Item") %> Found.
		</span> 
	</p>
	<div class="row">
		<div class="col-lg-6 col-md-offset-3">
			<table class="table table-striped table-hover col-md-6">
				<thead>
					<tr>
						<th>No.</th>
						<th>Item</th>
						<th>Quantity</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody id="order">
                    <% @data.each do |order|%>
					   <%= render(:partial => "history", :locals => {:order => order} ) %>
                    <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>




<ul class="pager">
  <li><%= link_to("← Previous", :action => "order") %></li>
</ul>