<% if !current_user.blank? && current_user.role == 'admin'%>
  <script type="text/javascript">
    document.getElementById('logout').click();
  </script>
<% end %>

<style type="text/css">
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 120px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 16.6%;
    float: left;
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}



.u-align-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.Form {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
}
@media only screen and (min-width: 50em) {
    .Form {
        padding: 5em
    }
}
.Form-section {
    margin-right: -1em;
    margin-bottom: 1.5em
}
.Form-section+.Form-section {
    padding-top: 1em;
    border-top: 1px dotted rgba(0, 0, 0, 0.1)
}
.Form-title {
    display: block;
    font-weight: bold;
    margin-bottom: .5em
}
.Form-label,
.Form-label--tick {
    display: block
}
.Form-label--tick {
    position: relative;
    display: inline-block;
    margin-left: 1em
}
.Form-label-radio,
.Form-label-checkbox {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden
}
.Form-label-radio+.Form-label-text,
.Form-label-checkbox+.Form-label-text {
    cursor: pointer;
    margin-right: 1em
}
.Form-label-radio+.Form-label-text::before,
.Form-label-checkbox+.Form-label-text::before {
    font-size: .875em;
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin-right: .25em;
    content: "\00a0";
    color: white;
    background-clip: padding-box;
    background-color: white;
    text-align: center
}
.Form-label-radio+.Form-label-text:hover::before,
.Form-label-checkbox+.Form-label-text:hover::before {
    border-color: black !important;
    box-shadow: 0 0 0 0 black !important
}
.Form-label-radio:checked+.Form-label-text::before,
.Form-label-checkbox:checked+.Form-label-text::before {
    background-color: #333;
    border-color: #333;
    box-shadow: 0 0 0 0 #333;
    font-family: FontAwesome;
    content: "✔";
    color: white;
}
.Form-label-radio:focus+.Form-label-text::before,
.Form-label-checkbox:focus+.Form-label-text::before,
.Form-label-radio:active+.Form-label-text::before,
.Form-label-checkbox:active+.Form-label-text::before {
    border-color: #3bb8ff;
    box-shadow: 0 0 2px 0 rgba(0, 135, 212, 0.2)
}
.Form-label-radio+.Form-label-text::before {
    border-radius: 100%
}



html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.bootstrap-touchspin .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 10px;
  margin-left: -1px;
  position: relative;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
  border-radius: 0;
  border-top-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  margin-top: -2px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 9px;
  font-weight: normal;
}

</style>

<script type="text/javascript">
function setid(add){
    document.getElementById('id').value = $(add).data("key1");
    document.getElementById('itemname').innerHTML = $(add).data("name");
}
function hide(){
  //alert('hide');
    $('#substitute').attr('disabled', true);
    $("#substitute").selectpicker('hide');
}
function show(){
  //alert('show');
    $('#substitute').removeAttr('disabled');
    $("#substitute").selectpicker('show');
}

function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;
  var flag = 0;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      flag++;
      result.push(opt.value || opt.text);
      if (flag == 1 )
        document.getElementById("sub").value = opt.value + ",";
      else
        document.getElementById("sub").value += opt.value + ",";
    }
  }

  if(flag == 0)
    document.getElementById("sub").value = "";
  return result;
}

</script>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Order</h4>
      </div>
      
      <form action="add_order" action="post">
          <div class="modal-body">
            
            <div class="Form-section">
              <span class="Form-title"><label>Mark your order "<span id="itemname"></span>" category...</label></span>
              <label class="Form-label--tick">
                  <input type="radio" name="optradio" onClick="hide()" value="1" class="Form-label-radio" checked>
                  <span class="Form-label-text">Mark Order As Primary</span>
              </label>
              <br/>
              <label class="Form-label--tick">
                  <input type="radio" name="optradio" onClick="show()" value="2" class="Form-label-radio">
                  <span class="Form-label-text">Mark Order As Substitute Of : 
                  </span>
              </label>
              <select  id="substitute" name="substitute" class="selectpicker" data-live-search="true" multiple onchange="getSelectValues(this)" data-max-options="3">
                  <% @data.each do |list|%>
                  <%if list["substitute"] == nil && list["processed"] == nil%>
                  <option value="<%=list['id']%>"><%=list["name"] %></option>
                  <%end 
                  end %>
              </select>
              <span class="Form-title"><label>Enter your order quantity...</label></span>
              <div class="input-group" style="margin-left:1em;width:88px;">
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-number btn-xs"  data-type="minus" data-field="quant[2]">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                  </span>
                  <input type="text" id="quantity" name="quant[2]" class="form-control input-number" style="height:22px;width:44px;" readonly value="1" min="1" max="10">
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-number btn-xs" data-type="plus" data-field="quant[2]">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                  </span>
              </div>
              
          </div>
          <input hidden name="id" id="id"/>
          <input hidden name="sub" id="sub"/>
          

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Add" , :class => "btn btn-default"%>
          </div>

      </form>
    
    </div>
  </div>
</div>

<div class="row">


  <div class="col-md-3">
    <ul class="list-group" >
      <a href="#" class="list-group-item active" style="background:#333;">
        <div class="row">
        	<div class="col-md-6">Item</div>
        	<div class="col-md-3">Price</div>
        	<div class="col-md-3">Action</div>
        </div>
      </a>
      <li class="list-group-item" style="max-height:475px;overflow-y:scroll;">
        <div class="row">
          <strong>&nbsp;<span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Salan:</strong>
        </div>

        <% @cat_salan.each do |item|%>
        <div class="row">
        	<div class="col-md-6" ><%=item.name%></div>
        	<div class="col-md-3" ><%=item.price%></div>
        	
            <div class="col-md-3" data-id="<%=item.id%>">
              <%= link_to(image_tag('cart.png', size: '24x24'),{}, :onclick => 'setid(this)', data: {key1: item.id,name: item.name}, remote: true,"data-toggle" => "modal", 'data-target' => '#myModal' )%>
            </div>
        </div>
        <% end %>

         <div class="row">
          <strong>&nbsp;<span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Bread:</strong>
        </div>

        <% @cat_bread.each do |item|%>
        <div class="row">
          <div class="col-md-6" ><%=item.name%></div>
          <div class="col-md-3" ><%=item.price%></div>
          
            <div class="col-md-3" data-id="<%=item.id%>">
              <%= link_to(image_tag('cart.png', size: '24x24'),{}, :onclick => 'setid(this)', data: {key1: item.id,name: item.name}, remote: true,"data-toggle" => "modal", 'data-target' => '#myModal' )%>
            </div>
        </div>
        <% end %>

         <div class="row">
          <strong>&nbsp;<span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span> Sweet Dish:</strong>
        </div>

        <% @cat_sweet.each do |item|%>
        <div class="row">
          <div class="col-md-6" ><%=item.name%></div>
          <div class="col-md-3" ><%=item.price%></div>
          
            <div class="col-md-3" data-id="<%=item.id%>">
              <%= link_to(image_tag('cart.png', size: '24x24'),{}, :onclick => 'setid(this)', data: {key1: item.id,name: item.name}, remote: true,"data-toggle" => "modal", 'data-target' => '#myModal' )%>
            </div>
        </div>
        <% end %>

         <div class="row">
          <strong>&nbsp;<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Fast Food:</strong>
        </div>

        <% @cat_fastfood.each do |item|%>
        <div class="row">
          <div class="col-md-6" ><%=item.name%></div>
          <div class="col-md-3" ><%=item.price%></div>
          
            <div class="col-md-3" data-id="<%=item.id%>">
              <%= link_to(image_tag('cart.png', size: '24x24'),{}, :onclick => 'setid(this)', data: {key1: item.id,name: item.name}, remote: true,"data-toggle" => "modal", 'data-target' => '#myModal' )%>
            </div>
        </div>
        <% end %>

         <div class="row">
          <strong>&nbsp;<span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Drink:</strong>
        </div>

        <% @cat_drink.each do |item|%>
        <div class="row">
          <div class="col-md-6" ><%=item.name%></div>
          <div class="col-md-3" ><%=item.price%></div>
          
            <div class="col-md-3" data-id="<%=item.id%>">
              <%= link_to(image_tag('cart.png', size: '24x24'),{}, :onclick => 'setid(this)', data: {key1: item.id,name: item.name}, remote: true,"data-toggle" => "modal", 'data-target' => '#myModal' )%>
            </div>
        </div>
        <% end %>



      </li>
    </ul>
  </div>

  <div class="col-md-9">
    <div>
    	<h3 class="text-center">Order Lunch
            <small class="label label-info" style="font-size:12px;"><%= Date.today.strftime("%d %B %Y , %A ") %></small>  
    	</h3>
    	<p class="text-center">
    		<span  class="label label-default"><%= pluralize( @data.count , "Item") %> Found.
    		</span> 
    	</p>
        <h5 class="col-md-offset-1">Primary Order
        </h5>
    	<div class="row">

            <div class="col-md-10 col-md-offset-1">
    			<table class="table table-striped table-hover col-md-10">
    				<thead>
    					<tr style="background:#333;color:white;">
    						<th style="font-weight:normal;">Order No.</th>
    						<th style="font-weight:normal;">Item</th>
    						<th style="font-weight:normal;">Quantity</th>
    						<th style="font-weight:normal;">Time</th>
                <th style="font-weight:normal;">Substitute</th>
                <th style="font-weight:normal;">Action</th>
    					</tr>
    				</thead>
    				<tbody id="order">
                        <% @data.each do |order|
                            if order["substitute"] == nil%>

    					   <%= render(:partial => "order", :locals => {:order => order} ) %>
                        <% end end %>
    				</tbody>
    			</table>
    		</div>
    	</div>
        <h5 class="col-md-offset-1">Substitute Order
        </h5>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover col-md-10">
                    <thead>
                        <tr  style="background:#333;color:white;">
                            <th style="font-weight:normal;">Order No.</th>
                            <th style="font-weight:normal;">Item</th>
                            <th style="font-weight:normal;">Quantity</th>
                            <th style="font-weight:normal;">Time</th>
                            <th style="font-weight:normal;">Substitute Of</th>
                            <th style="font-weight:normal;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="order">
                        <% @data.each do |order|
                            if order["substitute"] != nil%>

                           <%= render(:partial => "order", :locals => {:order => order} ) %>
                        <% end end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>

</div>


<script type="text/javascript">
$("#substitute").selectpicker('hide');
</script>

<script type="text/javascript">

//plugin bootstrap minus and plus
//http://jsfiddle.net/laelitenetwork/puJ6G/
$( document ).ready(function() {
    $('.btn-number').click(function(e){
        e.preventDefault();
        
        var fieldName = $(this).attr('data-field');
        var type      = $(this).attr('data-type');
        var input = $("input[name='"+fieldName+"']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {
                var minValue = parseInt(input.attr('min')); 
                if(!minValue) minValue = 1;
                if(currentVal > minValue) {
                    input.val(currentVal - 1).change();
                } 
                if(parseInt(input.val()) == minValue) {
                    $(this).attr('disabled', true);
                }
    
            } else if(type == 'plus') {
                var maxValue = parseInt(input.attr('max'));
                if(!maxValue) maxValue = 9999999999999;
                if(currentVal < maxValue) {
                    input.val(currentVal + 1).change();
                }
                if(parseInt(input.val()) == maxValue) {
                    $(this).attr('disabled', true);
                }
    
            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function(){
       $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {
        
        var minValue =  parseInt($(this).attr('min'));
        var maxValue =  parseInt($(this).attr('max'));
        if(!minValue) minValue = 1;
        if(!maxValue) maxValue = 9999999999999;
        var valueCurrent = parseInt($(this).val());
        
        var name = $(this).attr('name');
        if(valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if(valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        
        
    });
    $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                 // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) || 
                 // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
    });
});

</script>
