<div >
<h3 class=" text-center">Edit <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true,method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="form-group" style="visibility:<%if current_user.role == 'admin'%> hidden; height:0px; <% end %>" >
    <div class="text-center"><%= f.label :avatar %></div><br/>
    <div class="col-md-offset-5"><%= f.file_field :avatar%></div>
  </div>
  
  <div class="form-group text-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group text-center">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group text-center">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-group text-center">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions text-center">
    <%= f.submit "Update" , :class => "btn btn-default"%>
  </div>
<% end %>

<ul class="pager text-center">
  <li><%= link_to "← Previous", :back %> </li>
</ul>

</div>
