@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");/*!
 * bootswatch v3.3.7
 * Homepage: http://bootswatch.com
 * Copyright 2012-2016 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*//*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */


 *,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}



.u-align-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.Form {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
}
@media only screen and (min-width: 50em) {
    .Form {
        padding: 5em
    }
}
.Form-section {
    margin-right: -1em;
    margin-bottom: 1.5em
}
.Form-section+.Form-section {
    padding-top: 1em;
    border-top: 1px dotted rgba(0, 0, 0, 0.1)
}
.Form-title {
    display: block;
    font-weight: bold;
    margin-bottom: .5em
}
.Form-label,
.Form-label--tick {
    display: block
}
.Form-label--tick {
    position: relative;
    display: inline-block;
    margin-left: 1em
}
.Form-label-radio,
.Form-label-checkbox {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden
}
.Form-label-radio+.Form-label-text,
.Form-label-checkbox+.Form-label-text {
    cursor: pointer;
    margin-right: 1em
}
.Form-label-radio+.Form-label-text::before,
.Form-label-checkbox+.Form-label-text::before {
    font-size: .875em;
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin-right: .25em;
    content: "\00a0";
    color: white;
    background-clip: padding-box;
    background-color: white;
    text-align: center
}
.Form-label-radio+.Form-label-text:hover::before,
.Form-label-checkbox+.Form-label-text:hover::before {
    border-color: black !important;
    box-shadow: 0 0 0 0 black !important
}
.Form-label-radio:checked+.Form-label-text::before,
.Form-label-checkbox:checked+.Form-label-text::before {
    background-color: #333;
    border-color: #333;
    box-shadow: 0 0 0 0 #333;
    font-family: FontAwesome;
    content: "\f00c"
}
.Form-label-radio:focus+.Form-label-text::before,
.Form-label-checkbox:focus+.Form-label-text::before,
.Form-label-radio:active+.Form-label-text::before,
.Form-label-checkbox:active+.Form-label-text::before {
    border-color: #3bb8ff;
    box-shadow: 0 0 2px 0 rgba(0, 135, 212, 0.2)
}
.Form-label-radio+.Form-label-text::before {
    border-radius: 100%
}



html, body {
    max-width: 100%;
    overflow-x: hidden;
}

