<div class="text-center">
	<%= error_messages_for(@item) %>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
	  	<div class="form-group">
		  	<label class="col-lg-2 control-label" for="name">Name</label>
		  	<%= f.text_field :name  ,:class => "form-control" %>
		</div>

	  	<div class="form-group">
		  	<label class="control-label col-lg-2" for="location">Price</label>
		  	<%= f.text_field :price ,:class => "form-control" %>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2" for="cat">Category</label>
			<%= f.select :cat, options_for_select([['Salan','salan'],['Bread','bread'],['Sweat Dish','sweat'],['Fast Food','fastfood'],['Drink','drink']]), {}, :class => "selectpicker form-control cat", :selected => params[:cat] %>
	    </div>

      	<div class="form-group">
			<label class="control-label col-lg-2" for="cat">Days</label>
			<%= f.select :day, options_for_select([['Monday','mon'],['Tuesday','tue'],['Wednesday','wed'],['Thursday','thur'],['Friday','fri'],['Saturday','sat']]), {}, :class => "selectpicker form-control days", :selected => params[:day] , :onchange => "getSelectValues(this)"%>

	    </div>

	    <input hidden name="sub" id="sub"/>

	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.days').attr('multiple','true');
  value = $('.cat').find("option:selected").attr("value");
  alert(value);
})

function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;
  var flag = 0;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      flag++;
      result.push(opt.value || opt.text);
      if (flag == 1 )
        document.getElementById("sub").value = opt.value + ",";
      else
        document.getElementById("sub").value += opt.value + ",";
    }
  }

  if(flag == 0)
    document.getElementById("sub").value = "";
  return result;
}
</script>