<% #byebug %>
<script language="Javascript">

function empty(form){ 
	var values = $(form).serialize();
	
	values = values.substr(values.indexOf("balance=")+8,values.length);
	//alert(values);
	
	if(values < 0)
	{
		alert("Amount can't be 0.");
		window.location.href = "funds";
		return false;
	}
	else{
		return true;
	}
	
}


</script>

<tr>
	<form action="add_funds" method="post"  onsubmit="return empty(this)">
		<td> <%=user.name %> </td>
		<td> <% if user.balance == nil%>0<%else%><%=user.balance %><%end%> </td>
		<td> <input name="id" hidden value="<%=user.id%>"/> <input id="balance" name="balance" style="width:100px;" value="0"/> </td>
		<td>
			<%= submit_tag "Add", :class => "btn btn-success btn-xs", :style => "margin-right:10px;"%> 
			<%= submit_tag "Roll Back", :class => "btn btn-danger btn-xs"%>
		</td>
	</form>
</tr>