<tr>
	<td> <%= order['id'] %></td>
	<td> <%=User.where('id'=>order['user_id'])[0].name %> </td>
	<td><%= order['name']%> </td>
	<td><%= DateTime.parse(order['time_stamp']).strftime("%d %b %y, %I:%M %P") %> </td>
</tr>