<% if order['id'] %>
<tr>
	<td> <%=order['name'] %> </td>
	<td> <%=order['quantity'] %> </td>
	<td style="display:inline !important;">
		<% if order["substitute"] == nil%>
			<% search = "%#{order['id']}%" %>
			<% item = ItemsUser.where('substitute::text LIKE :substitute', :substitute => search) %>
			<% if item[0] != nil%>
				<% details = Item.find(item[0].item_id)%>
				<%= details.name%>
			<% end %>
		<% else %>
			<% slist = order["substitute"].split(',') %>
			<% slist.each do |list|%>
				<% search = "%#{list}%" %>
				<% item = ItemsUser.where('id::text LIKE :id', :id => search) %> 
				<% if item[0] != nil%>
					<% details = Item.find(item[0].item_id)%>
					<%= details.name%>,
				<% end %>
			<% end %>
		<% end %>	
	</td>
	<td style="display:inline;">
		<% if order['processed'] == nil%>

		<%= link_to("Process", {action: 'process_order', id: order['id']}, :class => "btn btn-default btn-xs fa fa-shopping-cart" , :style => "font-size:0.9em;") %>
		<%= link_to("Discard", {action: 'discard_order', id: order['id']}, :class => "btn btn-danger btn-xs  fa fa-trash" , :style => "font-size:0.9em;") %>
		<% else %>
		<p style="color:green;">Processed</p>
		<% end %>
	</td>
</tr>
<% end %>