<% if !current_user.blank? && current_user.role == nil%>
  <script type="text/javascript">
    document.getElementById('logout').click();
  </script>
<% end %>


<div class="text-center">
	<div>
		<%= form_for(@item, :url => {:action => "destroy", :id => params[:id]}) do |f|%>
			<h3>Delete Item</h3>
			<p>Are you sure you want to delete item "<%=@item.name%>" permanently ?</p>
			<div>
				<%= submit_tag "Delete Item", :class => "btn btn-danger"%>
			</div>
		<% end %>
	</div>
</div>
<ul class="pager">
  <li><%= link_to("← Previous", :action => "item") %></li>
</ul>