<% if !current_user.blank? && current_user.role == nil%>
  <script type="text/javascript">
    document.getElementById('logout').click();
  </script>
<% end %>


<style type="text/css">
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 300px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 25%;
    float: left;
}
</style>


<div>
	<h3 class="text-center">Funds Management
	</h3>
	<p class="text-center">
		<span  class="label label-default"><%= pluralize( @users.count , "User") %> Found.
		</span> 
	</p>
	<div class="row">
		<div class="col-lg-6 col-md-offset-3">
			<table class="table table-striped table-hover col-md-6">
				<thead>
					<tr>
						<th>Name</th>
						<th>Current Balance</th>
						<th>Add Balance</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="order">
                    <% @users.each do |user|%>
					   <%= render(:partial => "funds", :locals => {:user => user} ) %>
                    <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


<ul class="pager">
  <li><%= link_to("← Previous", :action => "index", :id => params[:cid]) %></li>
</ul>
