<% if !current_user.blank? && current_user.role == nil%>
  <script type="text/javascript">
    document.getElementById('logout').click();
  </script>
<% end %>


<style type="text/css">
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    overflow-y: auto;
}

tbody td, thead th {
    width: 25%;
    float: left;
}
</style>

<script type="text/javascript">
function setid(add){
    document.getElementById('id').value = $(add).data("key1");
}
function hide(){
    document.getElementById('list').style.visibility = 'hidden';
}
function show(){
    document.getElementById('list').style.visibility = 'visible';
}
</script>



<div>
    <%= link_to "Print List", admin_index_path(format: 'pdf') ,:class => 'btn btn-success btn-xs fa fa-print', :style => "margin:20px;position:fixed;right:10px;top:60px;"%> 

	<h3 class="text-center">Lunch Order
        <small class="label label-info" style="font-size:12px;"><%= Date.today.strftime("%d %B %Y , %A ") %></small>

	</h3>
	<p class="text-center">
		<span  class="label label-default"><%= pluralize( @data.count , "Item") %> Found. 
		</span>
        
	</p>
    <br/><br/>
    <% user = nil
        @data.each do |list|
            if user != list["user_id"]
                user = list["user_id"]
    %>

                <div class="container">
                    <div class="row text-center">
                        <div class="profile-header-container">   
                            <div class="profile-header-img">
                                <% if User.find(list["user_id"]).avatar_file_name != nil%>
                                    <%= image_tag(User.find(list["user_id"]).avatar.url(:medium), :class => 'img-circle', size: '100x100') %>
                                <%else%>
                                    <%=image_tag('avatar.png', :class => 'img-circle', size: '100x100')%>
                                <%end %> 

                                <!-- badge -->
                                <div class="rank-label-container">
                                    <span class="label label-default rank-label"><%=User.find(list["user_id"]).name %></span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <h5 style="padding-left:5px;">Primary Order</h5>
                    </div>
                    <div class="col-md-6">
                        <h5 style="padding-left:5px;">Substitute Order</h5>
                    </div>
                </div>
            	<div class="row">

                    <div class="col-md-6">
            			<table class="table table-striped table-hover col-md-4">
            				<thead>
            					<tr style="background:#333;color:white;">
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Substitute</th>
                                    <th>Action</th>
            					</tr>
            				</thead>
            				<tbody id="order">
                                <% @data.each do |order|
                                    if order["substitute"] == nil && order["user_id"] == user%>

            					   <%= render(:partial => "order", :locals => {:order => order} ) %>
                                <% end end %>
            				</tbody>
            			</table>
            		</div>
            	
                    <div class="col-md-6">
                        <table class="table table-striped table-hover col-md-4">
                            <thead>
                                <tr  style="background:#333;color:white;">
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Substitute Of</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="order">
                                <% @data.each do |order|
                                    if order["substitute"] != nil  && order["user_id"] == user%>

                                   <%= render(:partial => "order", :locals => {:order => order} ) %>
                                <% end end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% else 
                user = list["user_id"]
                end
            %>

    <% end %>
</div>


