<% if !current_user.blank? && current_user.role == nil%>
  <script type="text/javascript">
    document.getElementById('logout').click();
  </script>
<% end %>


<style type="text/css">
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 300px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 16%;
    float: left;
}
</style>

<div>
	<h3 class="text-center">Items 
		<span style="font-size:14px;"><%= link_to("Add New Item", {:action => "new", :id => params[:id], :did => params[:did], :cid => params[:cid]},  :class => "btn btn-primary btn-xs" ) %></span>
	</h3>
	<p class="text-center">
		<span class="label label-default"><%= pluralize( @items.count , "Item") %> Found.
		</span> 
	</p>
	<div class="row">
		<div class="col-lg-10 col-md-offset-1">
			<table class="table table-striped table-hover col-md-6">
				<thead>
					<tr class="header">
						<th>No. </th>
						<th>Name</th>
						<th>Price</th>
						<th>Category</th>
						<th>Days</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @items.each do |e| %>
					<tr>
						<td>  <%= e.id %> </td>
						<td> <%= e.name%> </td>
						<td> <%= e.price%> </td>
						<td> <%= e.cat%> </td>
						<td> <%= e.day%> </td>
						<td >
							<%= link_to("Edit",{:action => "edit", :id => e.id}, :class => 'pull-left btn btn-default btn-xs', :style => 'margin-right:10px;') %>
							<%= link_to("Delete",{:action => "delete" , :id => e.id , :did => params[:did], :cid => params[:cid]}, :class => 'pull-left btn btn-danger btn-xs') %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<ul class="pager">
  <li><%= link_to("← Previous", :action => "index", :id => params[:cid]) %></li>
</ul>