<% if !current_user.blank? && current_user.role == nil%>
  <script type="text/javascript">
    document.getElementById('logout').click();
  </script>
<% end %>


<div class="text-center">
	<%= form_for(@item, :url => {:action => "create", :id => params[:id], :did => params[:did], :cid => params[:cid]} ) do |f|%>
		<h3>Add New Item</h3>
		<%= render(:partial => "form", :locals => {:f => f}) %>
		<div>
			<%= submit_tag "Add Item", :class => "btn btn-primary" %>
		</div>
	<% end %>
</div>
<ul class="pager">
  <li><%= link_to("← Previous", {:action => "item"}) %></li>
</ul>