<% if object && object.errors.size > 0 %>
	<div class="error">
		<p><%= pluralize(object.errors.size, "error") %> prohibited this record from being saved. </p>
		<p>There Were Problems With The Following Details:</p>
		<ul>
			<% object.errors.full_messages.each do |msg|%>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>